<div class="w-full border border-sky-500 rounded my-2 p-[10px]">
  <div class="flex flex-row flex-nowrap items-center mb-2">
    <div class="w-[180px]">{{ alias }}: {{ addr }}</div>
    <div class="flex-1">
      <el-button type="primary" @click="refresh">刷新</el-button>
      <el-button type="info" @click="refreshDuplicate">数据对比</el-button>
      <el-button type="danger" @click="remove">删除</el-button>
      <el-button type="success" @click="copyBaseView">复制视图</el-button>
      <el-button type="success" @click="copyBaseData">复制数据</el-button>
    </div>
    <div v-if="duplicateContent.length > 0" class="flex-1 text-blue-500">
      <el-button type="success" @click="copyDuplicateView">复制对比视图</el-button>
      <el-button type="success" @click="copyDuplicateData">复制对比数据</el-button>
    </div>
  </div>

  <div class="flex flex-row flex-nowrap items-center font-bold">
    <div class="w-[180px]">总共 {{ size }} 字节</div>

    <div class="flex-1 flex flex-row flex-nowrap">
      <div class="flex-1">
        <span v-for="i in 16" :key="i" class="inline-block w-[30px] pl-[5px]">{{ toHex(i - 1) }}</span>
      </div>
      <div v-if="duplicateContent.length > 0" class="flex-1 text-blue-500">
        <span v-for="i in 16" :key="i" class="inline-block w-[30px] pl-[5px]">{{ toHex(i - 1) }}</span>
      </div>
    </div>
  </div>

  <div class="flex flex-row flex-nowrap">
    <div class="w-[180px]">
      <div v-for="(item, index) in addrRows" :key="index">{{ item }}</div>
    </div>
    <div class="flex-1 flex flex-col flex-nowrap">
      <div v-for="(item, index) in addrRows" :key="index" class="flex-1">
        <span v-for="i in 16" :key="i" :class="`inline-block w-[30px] pl-[5px] ${compareClassName(index, i-1, true)}`">{{ getChunkValue(index, i-1) }}</span>
      </div>
    </div>
    <div v-if="duplicateContent.length > 0" class="flex-1 flex flex-col flex-nowrap">
      <div v-for="(item, index) in addrRows" :key="index" class="flex-1">
        <span v-for="i in 16" :key="i" :class="`inline-block w-[30px] pl-[5px] ${compareClassName(index, i-1, true)}`">{{ getChunkValue(index, i-1) }}</span>
      </div>
    </div>
  </div>
</div>
